.nav-wrapper{
    background-color: #201E3E;
}
.head{
    color: white;
    /* margin-left: 52%;
    margin-right: -52%; */
    font-size: x-large;
    margin-left: 340px;
}
img{
    width: 17%;
    padding-top: 0.6%;
    margin-left: 0.5%;
}

.logoutbtn {
    position: absolute;
    top: 60px;
    right: 10px;
    display: none;
    display: block;
    padding: 15px;
    border: 1px solid;
    background-color: #d4cbcb;
    box-shadow: 0px 0px 2px 0px black;
    margin: unset;
}

.Header{
    height: 81px;
    line-height: 75px;
}

#tag{
    width: 100%;
    left: 54%;
}