.login_form{
    border: 1px solid black;
    margin: 8% 0% 0% 30%;
    padding: 1% 4% 3% 0%;
    width: 26%;
    background-color: white;
    box-shadow: 0 0 4px #adb5bd;
}

.login{
    display: flex;
}

.divloginright{
    margin: auto;
    margin-left: 2%;
    margin-top: 7%;
    padding: 0.8rem;
}

#label_lgn {
    margin: auto;
    padding: inherit;
    margin-left: 19%;
}

#icon{
    margin: auto;
    margin-left: 89%;
}


/* #icon_prefix, #icon_password{
    border: 1px solid black;
    padding-left: 2%;
} */

#lgn_button{
    margin-left: 15%;
}