.signup_form{
    
    border: 1px solid black;
    margin: 5% 0% 0% 36%;
    padding: 1% 4% 3% 0%;
    width: 39%;
    background-color: white;
    box-shadow: 0 0 4px #adb5bd;
}

#signup_label{
    margin-left: 14%;
    padding: inherit;
    /* margin-left: 19%; */
    
}

#icon{
    margin: auto;
    margin-left: 89%;
}

#signup_text{
    margin-left: 10%;
    font-weight: 400;
    font-size: initial;
}

#lgn_button{
    margin-left: 9%;
}