.first_div{
    border: 1px solid black;
    margin: 3% 0% 0% 15%;
    padding: 2% 2% 2% 2%;
    width: 70%;
    background-color: white;
    box-shadow: 0 0 4px #adb5bd;
}
.diary_text{
    /* margin: 8% 12% 14% 0%; */
    padding: 1% 7% 3% 1%;
    font-family: inherit;
    font-weight: 400;
}
.sub_btn{
    display: block;
    justify-content: center;
    margin: auto;
}

table, th, td, tr {
    padding: 1% 0% 1% 1%; 
  }

.check { 
    opacity: 1 !important;
}

#table{
    margin:auto;
}

.table_checkbox {
    display: flex;
    justify-content: center;
}
