.timing-table, .timing-td-table{
    /* width: 40%; */
    margin-top: 2%;
    /* margin-left: 2%;  */
    border: 1px solid grey;
    padding: 1%;
    font-family: serif;
    font-size: small;
    font-weight: 500;
}

.thtag {
    text-align: center;
    border: 1px solid grey;
    padding: 0 !important;
}

.Main-head{
    /* margin: auto; */
    /* justify-items: center; */
    display: flex;
}

.left-div,
.mid-div,
.right-div{
    flex: 1
}

.logo-img{
    width: 63%;
}

.mid-div{
    margin: auto;
    font-size: x-large;
    font-family: serif;
    font-weight: 500;
}

.bottom-div{
    margin-left: 2%;
}